<div class="row h-100">
    <div class="col-sm-8 text-center justify-content-center align-items-center d-flex h-100">
        <h1>Welcome to the best food delivery app</h1>
        {{!-- <h4>You should be logged in to access any other features of the app</h4> --}}
    </div>
    <div class="col-sm-4 d-flex justify-content-center align-items-center flex-column">
        <form action="">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" name="username" class="form-control">
            </div>
            <div class="form-group mb-2">
                <label for="password">Password:</label>
                <input type="password" name="password" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary mb-4">Log In</button>
            <p>Dont have an account with us?</p>
            <a href="">Sign Up</a>
        </form>
    </div>
</div>