<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <script src="bootstrap.bundle.min.js"></script>
    <title>FlavorDash!</title>
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container justify-content-between">
            <a href="#"><img src="logo.png" alt="logo" class="img-thumbnail" width="100"></a>
            <ul class="mr-2">
                <li><a href="/">Home</a></li>
                <li><a href="/restaurants-add">Add a restaurant</a></li>
                <li><a href="/restaurants">Order</a></li>
            </ul>
        </div>
    </nav>
    <div class="content">
        {{{body}}}
    </div>

    <script src="restaurants.js"></script>
</body>

</html>