<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <script src="bootstrap.bundle.min.js"></script>
    <title>FlavorDash!</title>
</head>

<body>
    {{#each messages.error}}
    <div class="flash-message alert alert-danger" role="alert">
        {{this}}
        <button class="close-button" onclick="this.parentElement.style.display='none';">&times;</button>
    </div>
    {{/each}}

    {{#each messages.success}}
    <div class="flash-message alert alert-success" role="alert">
        {{this}}
        <button class="close-button" onclick="this.parentElement.style.display='none';">&times;</button>
    </div>
    {{/each}}

    <nav class="navbar navbar-light bg-primary">
        <div class="container justify-content-between">
            <a href="#"><img src="logo.png" alt="logo" class="img-thumbnail" width="100">
                FlavorDash
            </a>
            {{#if user}}
            <span class="navbar-username">Welcome, {{user.username}}</span>
            {{/if}}

            <ul class="mr-2">
                <li><a href="/">Home</a></li>
                <li><a href="/restaurants-add">Add a restaurant</a></li>
                <li><a href="/restaurants">Order</a></li>
            </ul>
        </div>
    </nav>
    <div class="container h-100">
        {{{body}}}
    </div>

    <script src="restaurants.js"></script>
</body>

</html>