<div class="row h-100">
    <div class="col-sm-8 text-center justify-content-center align-items-center d-flex h-100">
        <h1>Open your doors to a new world of food delivery</h1>
    </div>
    <div class="col-sm-4 d-flex justify-content-center align-items-center flex-column">
        <form action="/register" method="POST">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" name="username" class="form-control" required>
            </div>
            <div class="form-group mb-2">
                <label for="password">Password:</label>
                <input type="password" name="password" class="form-control" required>
            </div>
            <button id="log-in" type="submit" class="btn btn-primary mb-4">Register</button>
        </form>
    </div>
</div>
<script src="home.js"></script>