<h1>
    All restaurants show up here:
</h1>
{{#each restaurants}}
<div class="restaurant">
    <h3>{{name}}</h3>
    <h4>Food available:</h4>
    {{#each food}}
    <div class="food">
        <h4>{{name}}</h4>
        <p>Price:{{price}}</p>
        <p>{{description}}</p>
    </div>
    {{/each}}
    <form method="POST" action="/restaurant?_method=DELETE">
        <button type="submit">Delete</button>
    </form>
</div>
{{/each}}